@page "/users/new"
@inject IDbContextFactory<StockAppDbContext> context
@inject NavigationManager NavManager
@using StocksApp.Models
<PageTitle>Add User</PageTitle>

<h1>Add User</h1>
@if(user is not null)
{
    

    // TODO: check for validation on add user form
    <MudForm @ref="form" Model="@user">
         <MudTextField T="string" Label="First Name" @bind-Value="user.FirstName" For="@(()=>user.FirstName)" Required="true" RequiredError="First name is required!" />
        <MudTextField T="string" Label="Last Name" @bind-Value="user.LastName" For="@(()=>user.LastName)" Required="true" RequiredError="Last name is required!" />

        <MudButton Class="mt-2" Variant="Variant.Filled" Color="Color.Secondary" OnClick="HandleValidSubmit" ButtonType="ButtonType.Button">Register user</MudButton>
 
    </MudForm>
}


@code {
    MudForm form;
    public User user { get; set; }
    public StocksApp.Models.Portfolio newPortfolio { get; set; } = new ();

    protected override void OnInitialized()
    {
        newPortfolio = new ();
        user = new();

    }

    public async Task HandleValidSubmit()
    {
        using var ctx = context.CreateDbContext();
        ctx.Portfolio.Add(newPortfolio);
        await ctx.SaveChangesAsync();

        user.PortfolioId = newPortfolio.Id;
        ctx.Users.Add(user);

        await ctx.SaveChangesAsync();
        NavigateToUsersPage();

    }

    private void NavigateToUsersPage()
    {
        NavManager.NavigateTo("/users");
    }




}
