@page "/users/new"
@inject IDbContextFactory<StockAppDbContext> context
@using StocksApp.Models
<PageTitle>Add User</PageTitle>

<h1>Add User</h1>
@if(user is not null)
{
    

    <MudForm @ref="form" Model="@user" >
         <MudTextField T="string" Label="First Name" @bind-Value="user.FirstName" For="@(()=>user.FirstName)" Required="true" RequiredError="First name is required!" />
        <MudTextField T="string" Label="Last Name" @bind-Value="user.LastName" For="@(()=>user.LastName)" Required="true" RequiredError="Last name is required!" />

        <MudButton Variant="Variant.Filled" Color="Color.Secondary" OnClick="HandleValidSubmit" ButtonType="ButtonType.Submit">Register user</MudButton>
 
    </MudForm>
}


@code {
    MudForm form;
    public User user { get; set; }

    protected override void OnInitialized()
    {
        user = new();
    }

    private async Task HandleValidSubmit()
    {
        using var ctx = context.CreateDbContext();
        ctx.Users.Add(user);
        await ctx.SaveChangesAsync();

        user = new();

    }




}
