@page "/users/portfolio"
<PageTitle>Portfolio</PageTitle>



<div>TO DO - set up portfolio page</div>

@code {


    // TODO: setup layout for portfolio view
    // TODO: track book value
    // TODO: track current value
    // TODO: calculate current performance
    // TODO: look at reporting/bookings on individualstocks. access contract notes. Decide what data structure to use to track this. FIFO suggest using Queue.
    
}
