@page "/users/{Userid:int}/portfolio"
@inject NavigationManager NavManager;
<PageTitle>Portfolio</PageTitle>



<div>TO DO - set up portfolio page for user @UserId</div>

<MudButton Variant="Variant.Filled" Color="Color.Secondary" OnClick="NavigateToUsersPage">Back to Users</MudButton>

@code {
    [Parameter]
    public int UserId { get; set; }



    // TODO: setup layout for portfolio view
    // TODO: track book value
    // TODO: track current value
    // TODO: calculate current performance
    // TODO: look at reporting/bookings on individualstocks. access contract notes. Decide what data structure to use to track this. FIFO suggest using Queue.
    

    private void NavigateToUsersPage()
    {
        NavManager.NavigateTo("/users");
    }

}
