@page "/stocklist/{id:int}"
<h3>StockView</h3>

@code {
    // TODO: Stock view to be add, look at bringing in charts? JSinterop or Mudblazor charts
    // TODO: add Buy/Sell buttons/functionality
    // TODO: API call reequired for current spot FX rates.
    // TODO: Look into generating a basic oderconfirmation doc. Where will this be stored?

}
